<%= render "shared/header", title: "REGISTER", prev: root_path, value: "Next" %>

<div class="bg-[#f5f6f8] h-full pt-6">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, class: "sr-only" %>
    <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "w-full border border-[#E9EDF4] py-3 px-5 text-base placeholder-[#ACB6BE] outline-none focus-visible:shadow-none focus:border-primary" %>
  </div>

  <div class="field">
    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, placeholder: "Email", class: "w-full border border-[#E9EDF4] py-3 px-5 text-base placeholder-[#ACB6BE] outline-none focus-visible:shadow-none focus:border-primary"  %>
  </div>

  <div class="field">
    <%= f.label :password, class: "sr-only"%>
    <%= f.password_field :password, placeholder: "Password (6 characters minimum)", class: "w-full border border-[#E9EDF4] py-3 px-5 text-base placeholder-[#ACB6BE] outline-none focus-visible:shadow-none focus:border-primary"  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "sr-only" %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "w-full border border-[#E9EDF4] py-3 px-5 text-base placeholder-[#ACB6BE] outline-none focus-visible:shadow-none focus:border-primary"  %>
  </div>
<% end %>
</div>