<div class="flex items-center justify-between px-4 py-6 text-white">
  <%= link_to path do %>
    <%= image_tag "left-arrow.png" %>
  <% end %>
  <p class="font-bold uppercase"><%= title %></p>
  <%= link_to path do %>
    <p><%= text %></p>
  <% end %>
</div>