<div class="bg-[#f5f6f8] h-full pt-6">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "w-full border border-[#E9EDF4] py-3 px-5 text-base placeholder-[#ACB6BE] outline-none focus-visible:shadow-none focus:border-primary" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, placeholder: "Password", class: "w-full border border-[#E9EDF4] py-3 px-5 text-base placeholder-[#ACB6BE] outline-none focus-visible:shadow-none focus:border-primary" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<div class="flex justify-center w-full my-2 text-base hover:underline hover:text-primary"><%= link_to "Forgot your password?", new_password_path(resource_name) %>
</div>
</div>