<%= render "shared/header", title: "LOGIN", prev: root_path, value: "Log in" %>

<div class="bg-[#f5f6f8] h-full pt-6">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "w-full border border-[#E9EDF4] py-3 px-5 text-base placeholder-[#ACB6BE] outline-none focus-visible:shadow-none focus:border-primary" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, placeholder: "Password", class: "w-full border border-[#E9EDF4] py-3 px-5 text-base placeholder-[#ACB6BE] outline-none focus-visible:shadow-none focus:border-primary" %>
  </div>

<% end %>

<div class="flex flex-col items-center w-full gap-4 my-2 text-base">
<span class="hover:underline hover:text-primary"><%= link_to "Forgot your password?", new_password_path(resource_name) %></span>

<p> Not a member yet? <span class="text-primary hover:underline"> <%= link_to "Sign up", new_registration_path(resource_name) %></span>
</p>
</div>
</div>