<!DOCTYPE html>
<html>
  <head>
    <title>Budgit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen max-w-2xl mx-auto border border-[#434B54] text-[#434B54] font-normal capitalize">
    <% if alert %><p class="w-full px-2 py-4 text-base text-center rounded text-[#CD5D5D] bg-[#feeaea] alert"><%= alert %></p><% end %>
    <main class="min-h-screen bg-[#f5f6f8]">
      <%= yield %>
    </main>
  </body>
</html>
